[submodule "cmdsafestan"]
	path = cmdsafestan
	url = https://github.com/jkarwowski/cmdsafestan.git
[submodule "AI-scientist-and-likelihood-hacking"]
	path = AI-scientist-and-likelihood-hacking
	url = https://github.com/jkarwowski/AI-scientist-and-likelihood-hacking.git
